<nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="/images/gb-white.svg" width="25"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/docs/install">Installation</a></li>
            <li role="presentation"><a href="/docs/usage">Usage</a></li>
            <li role="presentation"><a href="/faq">FAQ</a></li>
            <li role="presentation"><a href="https://github.com/constabulary/gb">Contribute</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
