{{ partial "header.html" . }}
      <div class="jumbotron">
        <h1><code>gb</code></h1>
        <p class="lead">The project based build tool for the Go programming language.</p>
        <p><a href="/docs/install">Install gb today</a></p>
	<pre>go get github.com/constabulary/gb/...</pre>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Features</h4>
          <ul>
            <li>Project based workflow</li>
            <li>Automatic project detection</li>
            <li>Zero configuration files</li>
	  </ul>
        </div>

        <div class="col-lg-6">
          <h4>Benefits</h4>
          <ul>
            <li>Reliable, reproducible, builds without import rewriting</li>
            <li>No enviroment variables to set</li>
            <li>Multiple working copies without changing environment variables</li>
            <li>Backwards compatible with <code>$GOPATH</code></li>
	  </ul>
        </div>
      </div>
      <div class="row">
      <h2>News</h2>
{{range first 5 (where .Data.Pages "Section" "news") }}
        <div class="summary">
          <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
{{ .Summary }}
        </div>
{{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More…</a>
       </div>
{{ end }}
      </div>
{{ end }}
{{ partial "footer.html" . }}
